---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

import type { AppConfig } from '@/domain/app/types';

type Props = { app: AppConfig };
const { app } = Astro.props;
const imagePath = (value: string): string => {
    let fileName = `badge_${value}`;

    switch (value) {
        case 'google-play': {
            return `${fileName}.png`;
        }
        default: {
            return `${fileName}.svg`;
        }
    }
};

const images = import.meta.glob<{ default: ImageMetadata }>(
    '../images/*.{jpeg,jpg,png,gif,svg}',
);
if (!images[`../images/${app.iconFile}`]) {
    throw new Error(
        `'${app.iconFile}' does not exist in glob: 'src/images/*.{jpeg,jpg,png,gif}'`,
    );
}

const stores = app.stores.filter((s) => s.url !== '');
---

<li class="app-card">
    <Image
        class="app-card__image"
        src={images[`../images/${app.iconFile}`]()}
        alt={`${app.name.ja}アイコン`}
    />
    <section class="app-card__detail">
        <h3 class="app-card__app-name">{app.name.ja}</h3>
        <p class="app-card__description">{app.description.ja}</p>
        <ul class="app-card__stores">
            {
                stores.map((store) => (
                    <li class="app-card__store">
                        <a
                            class="app-card__store-link"
                            href={store.url}
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <Image
                                class={`app-card__store-image app-card__store-image--${store.vendor}`}
                                src={images[
                                    `../images/${imagePath(store.vendor)}`
                                ]()}
                                alt={`${store.vendor} Badge`}
                            />
                        </a>
                    </li>
                ))
            }
        </ul>
    </section>
</li>
