---
import { siteMetadata } from '../metadata';

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/style.scss';
import { undefined } from 'astro:schema';

const { lang = 'ja', page } = Astro.props;
const mainClass = page === undefined ? 'container' : `container ${page}`;

const pageMetadata =
    page === undefined ? siteMetadata['/'] : siteMetadata[`/${page}`];

console.log('mainClass', mainClass);
console.log('pageMetadata', pageMetadata);
---

<html lang={lang}>
    <head>
        <BaseHead metadata={pageMetadata} />
    </head>
    <body>
        <Header />
        <main class={mainClass}>
            <slot />
        </main>
        <Footer />
    </body>
</html>
